<template>
  <div>
    <div>
      <el-select v-model="select" slot="prepend" placeholder="请选择学校">
        <el-option :label="item.name" :value="item.id" v-for="item in this.school"></el-option>
      </el-select>
      <el-select v-model="select1" slot="prepend" placeholder="请选择分类">
        <el-option :label="item.name" :value="item.id" v-for="item in this.backType"></el-option>
      </el-select>
      <el-button type="primary" size="small" @click="lookFor">查询</el-button>
    </div>

    <el-row class="tac" v-if="this.streetList" style="margin-top: 20px">
      <el-col :span="24">
        <div v-for="(item, index) in this.streetList.list">

          <div style="display: flex;" class="awrapepr">
            <div class="name">店名：{{item.storeName}}</div>
            <div class="name" v-if="item.feature">特色：{{item.feature}}</div>
            <div class="name" v-if="item.contentText">详情：{{item.contentText}}</div>
            <div class="name" v-if="item.address">地址：{{item.address}}</div>
            <div class="name" v-if="item.price">价格：{{item.price}}</div>
            <div class="name" v-if="item.phone">电话：{{item.phone}}</div>
            <div class="name" v-if="item.wechat">微信：{{item.wechat}}</div>
          </div>
          <div class="block" style="margin: 10px 0">
            <el-image  style="width: 100px; height: 100px; margin-right: 10px"  v-for="(good, index) in item.releaseFiles"  :key="good"
                       :src="`https://www.qiyuanheshan.com/document${good.fileRelativePath}`" fit="cover" :preview-src-list="item.srcList"></el-image>
          </div>
          <el-row>
            <el-button type="danger"  @click="delBtn(item.id)">删除</el-button>
            <el-button type="warning" @click="editBtn(item.id,item.schoolId)">编辑</el-button>

          </el-row>
          <el-divider></el-divider>
        </div>
      </el-col>
    </el-row>
    <div class="noContentIcon"  v-if="this.streetList!=null&&this.streetList.length==0">
      <svg class="ant-empty-img-simple" width="64" height="41" viewBox="0 0 64 41" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 1)" fill="none" fill-rule="evenodd"><ellipse class="ant-empty-img-simple-ellipse" cx="32" cy="33" rx="32" ry="7"></ellipse><g class="ant-empty-img-simple-g" fill-rule="nonzero"><path d="M55 12.76L44.854 1.258C44.367.474 43.656 0 42.907 0H21.093c-.749 0-1.46.474-1.947 1.257L9 12.761V22h46v-9.24z"></path><path d="M41.613 15.931c0-1.605.994-2.93 2.227-2.931H55v18.137C55 33.26 53.68 35 52.05 35h-40.1C10.32 35 9 33.259 9 31.137V13h11.16c1.233 0 2.227 1.323 2.227 2.928v.022c0 1.605 1.005 2.901 2.237 2.901h14.752c1.232 0 2.237-1.308 2.237-2.913v-.007z" class="ant-empty-img-simple-path"></path></g></g></svg>
      <div>暂无相关内容</div>
    </div>
  </div>
</template>
<script>
  import { mapGetters } from "vuex";
  export default {
    data: () => ({
      select: '',
      select1:''
    }),
    methods: {
      lookFor(){
        this.$store.dispatch('getBackList', {
          schoolId:this.select,
          topicTypeId:this.select1,
          pageNum:1,
          pageSize:10
        });
      },
      delBtn(objectId) {
        this.$confirm('是否删除该数据?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('deleteBack',{id:objectId})
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },
      editBtn(id) {
        this.$router.push({path: '/back/add?id='+id})
      }
    },
    created(){
      this.$store.dispatch('getSchool', 2);
      this.$store.dispatch('getType', 2)
    },
    watch:{

    },
    mounted() {

    },
    computed: {
      ...mapGetters([
        'streetList', 'backType', 'school'
      ])
    },

  };
</script>
<style scoped>
  .name{
    margin-left: 20px;
  }
  .awrapepr .name:nth-child(1 ){
    margin-left: 0px;
  }
  .el-button{
    float: right;
    margin-left: 10px;
  }
</style>
