<template>
  <el-col>
    <el-col :span="24" >
    <div class="demo-input-suffix" >
      <div>请输入关键字：</div>
      <el-input
        style="flex: .4"
        placeholder="请输入关键字"
        prefix-icon="el-icon-search"
        v-model="input2">
      </el-input>
      <el-button type="primary" size="small" @click="lookFor">查询</el-button>
    </div>
    </el-col>
    <el-row class="tac" style="padding-top: 80px" v-if="this.forbidList.length>0">
      <el-col :span="24">
        <div v-for="(item, index) in this.forbidList">
          <div style="display: flex; justify-content: space-between">
            <div style="display: flex; align-items: center">
              <div class="block">
                <el-image
                  style="width: 60px; height: 60px; border-radius: 60px"
                  :src="item.avatarUrl"
                  fit="cover"
                  :preview-src-list="[item.avatarUrl]">
                </el-image>
                <!--<el-avatar size="large" :src="item.avatarUrl"></el-avatar>-->
              </div>
              <div style="display: flex; flex-direction: column; margin-left: 10px">
                <div class="name">用户名：{{item.nickName}}</div>
                <div class="name" v-if="item.studentId">学号：{{item.studentId}}</div>
                <div class="name" v-if="item.school">学校：{{item.school}}</div>
                <div class="name" v-if="item.profession">专业：{{item.profession}}</div>
                <div class="name" v-if="item.grade">班级：{{item.grade}}</div>
              </div>
            </div>
            <div>
              <div class="name" style="font-size: 14px">最后在线时间：{{item.updateTime}}</div>
            </div>
          </div>
          <el-row>
            <el-button type="success" @click="delBtn2(item.id)" size="mini">解封</el-button>
          </el-row>
          <el-divider></el-divider>
        </div>
      </el-col>
    </el-row>
    <div class="noContentIcon"  v-if="this.forbidList!=null&&this.forbidList.length==0">
      <svg class="ant-empty-img-simple" width="64" height="41" viewBox="0 0 64 41" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 1)" fill="none" fill-rule="evenodd"><ellipse class="ant-empty-img-simple-ellipse" cx="32" cy="33" rx="32" ry="7"></ellipse><g class="ant-empty-img-simple-g" fill-rule="nonzero"><path d="M55 12.76L44.854 1.258C44.367.474 43.656 0 42.907 0H21.093c-.749 0-1.46.474-1.947 1.257L9 12.761V22h46v-9.24z"></path><path d="M41.613 15.931c0-1.605.994-2.93 2.227-2.931H55v18.137C55 33.26 53.68 35 52.05 35h-40.1C10.32 35 9 33.259 9 31.137V13h11.16c1.233 0 2.227 1.323 2.227 2.928v.022c0 1.605 1.005 2.901 2.237 2.901h14.752c1.232 0 2.237-1.308 2.237-2.913v-.007z" class="ant-empty-img-simple-path"></path></g></g></svg>
      <div>暂无相关内容</div>
    </div>
  </el-col >
</template>
<script>
  import {mapGetters} from "vuex";

  export default {
    data: () => ({
      input2:'',
      loading:true
    }),
    methods: {
      delBtn2(userId) {
        debugger
        this.$confirm('是否解封该账号?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('forbidUser', {userId: userId})
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消'
          });
        });
      },
      lookFor(){

          this.$store.dispatch('getForbidList',this.input2)
      }
    },
    created() {
      this.$store.dispatch('getForbidList')
    },
    watch: {
      $route(to, from) {

      }
    },
    computed: {
      ...mapGetters([
        'forbidList',
      ])
    },

  };
</script>
<style scoped>

  .demo-input-suffix{
    position: fixed;
    /* width: 100%; */
    background: rgb(255, 255, 255);
    z-index: 111;
    top: 60px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 21px;
    left: 230px;
    box-sizing: border-box;
  }
  * {
    line-height: 20px;
  }

  .el-button {
    float: right;
    margin-left: 10px;
  }
</style>
