<template>
    <div class="login">
        <div class="center">
            <h1><img src="../../../static/imgs/logobg.jpg" alt=""></h1>
            <form>
                <div class="inputLi">
                    <input type="text" class="user" v-model="req.userName" placeholder="请输入" required>
                </div>
                <div class="inputLi">
                    <input type="password" class="pwd" v-model="req.password" placeholder="请输入" required>
                </div>
                <div class="inputLi" @click="submit">
                    <button>登录</button>
                </div>
            </form>
            <p class="tip">豚说管理系统</p>
        </div>
    </div>
</template>
<script>
export default {
    data:()=>({
        req:{
            userName:'',
            password:''
        }
    }),
    methods:{
        submit(){
            this.$store.dispatch('login',this.req)
        }
    }

}
</script>